/* You can add global styles to this file, and also import other style files */
span.white_css {
    color: #fff;
}
span.red_css {
    color: #d10024;
}


h3.logo_comm {
    margin-top: 16px;
    font-size: 23px;
    font-family: unset;
}